* {
	/* border: solid 1px green; */
}
.container {
	height: 100vh;
	width: 100vw;
	/* background: lightpink; */
	background: white;
	display: flex;
	justify-content: center;
	align-items: center;
}
.login {
	/* background: lightseagreen; */
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	margin: 1rem;
	padding: 1rem;
	height: 30rem;
	width: 20rem;
	border-radius: 0.5rem;
	box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.1);
}
.login-form {
	/* background: coral; */
	display: flex;
	flex-direction: column;
	/* justify-content: baseline; */
}
.login-form label, button {
	width: 18rem;
	padding-bottom: 1.5rem;
}
.login-form label span {
	/* display: inline-block; */
	display: flex;
	padding: .5rem 0;
	font-size: 1rem;
	/* position: relative; */
  /* top: 1.7rem;
  left: .3rem; */
	transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.forgot{
	/* background: greenyellow; */
	color: lightseagreen;
	display: flex;
	justify-content: flex-end;
	cursor: pointer;
}
.forgot:hover{
	color: lightskyblue;
}

/* CSS */
.button-submite {
	background-color: lightseagreen;
	border: none;
	border-radius: 0.2rem;
	box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	font-size: 1rem;
	padding: .7rem 0;
	margin-top: 1.2rem;
	outline: none;
	text-align: center;
	transform: translateY(0);
	transition: transform 150ms, box-shadow 150ms;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}


.button-submite:hover {
	box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
	transform: translateY(-1px);
	background: lightskyblue;
}

.login input {
	border: 0;
	border-radius: .2rem;
	/* padding-top: 2rem; */
	height: 2.3rem;
	display: block;
	font-size: 18px;
	font-family: 'Muli', sans-serif;
	width: 100%;
	transition: 0.1s ease-in;
	box-sizing: border-box;
	border: solid 1px lightgray;
}

.login input:focus {
	outline: 0;
	border: 1px solid lightseagreen;
}
